GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXT_PUBLIC_USER_SERVICE=http://localhost:5000
NEXT_PUBLIC_CHAT_SERVICE=http://localhost:5002;
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000